/*Default styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
  font-family: Helvetica;
  margin-top: 50px;
  margin-bottom: 40px;
}

body {
  background-color: rgb(25, 25, 25);
  color: white;
}

button {
  cursor: pointer;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Guessing area*/
.guess-input {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(42, 42, 42);
  border: 2px solid white;
  color: white;
  width: 300px;
  border-radius: 10px;
}


.guess-input:disabled,
.guess-button:disabled {
  cursor: not-allowed;
}

.guess-button,
.hint-button {
  font-size: 20px;
  padding: 10px;
  border: 2px solid white;
  background-color: green;
  color: white;
  width: 100px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.hint-container {
  font-size: 15px;
  font-family: Helvetica;
  margin-top: 10px;
}

.guess-button:hover,
.hint-button:hover {
  background-color: rgb(0, 155, 0);
}

.autocomplete-list {
  list-style: none;
  padding: unset;
  margin: unset;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.autocomplete-list li {
  border: 1px solid white;
  border-top: unset;
  background-color: rgb(42, 42, 42);
}

.autocomplete-list li:hover {
  background: rgb(97, 97, 97);
}

.autocomplete-list button {
  border: unset;
  background: unset;
  color: white ;
  display: block;
  width: 100%;
  text-align: left;
  padding: 6px;
  font-size: 20px;
}

.autocomplete-wrapper {
  display: inline-block;
  position: relative;
}

/*Display results*/
a.additional-info {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  background-color: rgb(42, 42, 42);
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

a.additional-info:hover {
  background-color: rgb(97, 97, 97);
}

.guess-button:disabled,
.guess-input:disabled {
  cursor: disabled;
}

.share-button {
  font-size: 20px;
  border: 2px solid white;
  padding: 10px 16px;
  background-color: rgb(42, 42, 42);
  color: white;
  border-radius: 8px;
  transition: 0.3s;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  min-width: 75px;
  max-width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.share-button:hover {
  background-color: rgb(97, 97, 97);
}

.correct-guess-container {
  display: flex;
}

/*Popup*/
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  opacity: 0;
  font-size: 20px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  color: black;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

/*Display guesses section*/
.grid-container {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.element-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.element {
  position: relative;
  width: 250px;
  height: 250px;
  border: 2px solid rgb(97, 97, 97);
  border-radius: 15px;
  background-color: rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
}

.element.guessed-element:hover {
  transform: scale(1.025);
  box-shadow: rgba(255, 255, 255, 0.16) 0px 5px 18px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}

.name {
  font-size: 20px;
}

.atomic-number,
.family {
  position: absolute;
  color: white;
  font-size: 20px;
}

.atomic-number {
  top: 5px;
  left: 5px;
}

.family {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

.symbol {
  font-size: 80px;
}

.green {
  color: rgb(83, 141, 78);
}

.yellow {
  color: rgb(181, 159, 59);
}

.reveal-answer {
  margin-top: 55px;
  background-color: rgb(192, 223, 251);
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 20px;
  color: rgb(48, 98, 144);
}

/*Shake animation*/
.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.glow-red {
  border: 2px solid red;
  box-shadow: 0 0 10px red;
}

/*Game info styles*/
.stats-button {
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: none;
  background: none;
}

.stats-container {
  background-color: #2a2a2a;
  border: 2px solid rgb(97, 97, 97);
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  color: white;
}

.stats-container h2 {
  margin-bottom: 10px;
}

.stats-container p {
  margin: 10px 0;
}

.back-button {
  font-size: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  width: 100px;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: none;
}

.back-button:hover {
  background-color: rgb(0, 155, 0);
}

.help-button {
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: none;
  background: none;
}

.help-container {
  background-color: #2a2a2a;
  border: 2px solid rgb(97, 97, 97);
  border-radius: 5px;
  padding: 20px;
  width: 800px;
  margin: 20px auto;
  text-align: center;
  color: white;
}

.help-container ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.help-container li {
  margin: 10px 0;
}

.help-container a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s;
}

.help-container a:hover {
  background-color: rgb(0, 155, 0);
}

/*Footer styles*/
footer {
  background-color: #111;
  margin-top: 100px;
}

.footer-container {
  width: 100%;
  padding: 30px 30px 20px;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-nav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.7;
  transition: 0.5s;
}

.footer-nav ul li a:hover {
  opacity: 1;
}

.footer-bottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  color: white;
}

/*Fade animation*/
@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-text {
  animation: fadeInText 0.5s ease-in forwards;
}

/*Adjusting for screens under 1201px wide*/
@media (max-width: 1200px) {
  .footer-nav ul {
    flex-direction: column;
  }

  .footer-nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  h1 {
    font-size: 50px;
  }

  .guess-input {
    width: 100%;
  }

  .guess-button,
  .hint-button {
    width: 50%;
    font-size: 16px;
    padding: 8px;
    margin: 5px auto;
    display: block;
  }

  .share-button,
  .back-button {
    width: 75px;
    font-size: 20px;
    padding: 8px;
    margin-top: 5px;
  }

  .element {
    width: 200px;
    height: 200px;
    padding: 10px;
  }

  .element-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .atomic-number,
  .family {
    font-size: 16px;
  }

  .symbol {
    font-size: 64px;
  }

  .container {
    padding: 10px;
  }

  .stats-container, .help-container {
    width: 90%;
  }

  a.additional-info {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(42, 42, 42);
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .share-button {
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 16px;
    background-color: rgb(42, 42, 42);
    color: white;
    border-radius: 8px;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    min-width: 75px;
    max-width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

/*Adjusting for screens under 451px wide*/
@media (max-width: 450px) {
  .element {
    width: 150px;
    height: 150px;
    padding: 8px;
  }

  .element-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }

  .atomic-number,
  .family {
    font-size: 12px;
  }

  .symbol {
    font-size: 48px;
  }

  .share-button,
  a.additional-info {
    font-size: 18px;
    padding: 8px 12px;
    min-width: 60px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  a.additional-info {
    text-decoration: none;
    background-color: rgb(42, 42, 42);
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
}
